- if current_user.projects.empty?
  .lead.text-center
    Project information will be shown once a project is created.
    Use the left navbar to create a project.
- else
  =  render 'projects/show', :@project => current_user.projects.first