%h2{:style => "margin-top: 0px;"} Projects
- Project.all.each_with_index do |project, index|
  .input-group
    %span.form-control{class: ('strong' if index == 0), data: {project: project.id}}= project.name
    %span.input-group-addon= link_to 'x', project, method: :delete

= render 'projects/form', :@project => Project.new

:javascript
  $(function() {
    $("span[data-project]").on('click', function() {
      $('#main').load( "projects/" + $(this).data('project') );
    });
  });